name: Testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  tests:
    name: Test on go ${{ matrix.go_version }}
    strategy:
      matrix:
        go_version: ["1.18", "1.17", "1.16"]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Redis Server in GitHub Actions
      uses: supercharge/redis-github-action@1.4.0
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}

    - name: Test
      run: go test -v ./...
